body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    margin: 0;
}

#root {
    width: 100%;
    overflow: auto;
    display: flex;
    margin-bottom: 32px;
}

.mdc-drawer {
    position: fixed;
}

.app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.content-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.title {
    margin-top: 32px;
    border-bottom: 1px solid rgba(0,0,0,.87);
}

.daps-table {
    display: table;
    width: auto;
}

.daps-table-row {
    display: table-row;
    width: auto;
    height: auto;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

.daps-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    vertical-align: middle;
    line-height: 30px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.list-item {
    display: inline-block;
    margin: 8px 16px;
}

.list, .bordered-list {
    display: inline-block;
}

.list > ul, .bordered-list > ul, .group-list {
    border: 1px solid rgba(0, 0, 0, .1);
}

.list .mdc-list-item__meta {
    margin-left: 16px;
}

.mdc-list--avatar-list .mdc-list-item__graphic {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}

.rounded-button, .rounded-button .mdc-button__ripple {
    border-radius: 18px;
}

.card {
    width: 350px;
}

.card__primary {
    padding: 1rem;
}

.card__secondary {
    padding: 1rem 1rem 8px;
    color: rgba(0, 0, 0, .54);
}

.regular .card__secondary {
    padding-top: 0;
}

.card__title, .card__subtitle {
    margin: 0;
}

.card__secondary, .card__subtitle {
    color: rgba(0, 0, 0, .54);
}

.over-media .mdc-card__media-content {
    display: flex;
    align-items: flex-end;
}

.over-media .card__title, #card-over-media .card__subtitle {
    color: #fff;
}

.primary-action-horizontal {
    display: flex;
    flex-direction: row;
}

.primary-action-horizontal .mdc-card__media--square {
    width: 110px;
}