#root {
    margin-bottom: 0;
}

.expand {
    width: 100%;
}

.sign-in-form {
    width: 470px;
    margin: auto;
}

.sign-in-form .mdc-list-item {
    cursor: default;
    padding: 10px;
}

.sign-in-actions {
    position: fixed;
    right: 0;
}

.sign-in-actions > .mdc-button {
    margin-left: 10px;
}

.content-container {
    margin: 0;
    /*padding-top: 64px;*/
    max-width: 100%;
    display: flex;
}

.scrollable-content {
    overflow-y: auto;
}

.chat-screen {
    display: flex;
    width: 100%;
}

.chat-sidebar {
    position: relative;
    flex: 0 0 auto;
    width: 400px;
}

.chat-flex-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
}

.chat-sidebar-split-handle {
    flex: 0 0 auto;
    position: relative;
    box-sizing: border-box;
    width: 4px;
    height: 100%;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #f7f7f7;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #f7f7f7;
    -webkit-touch-callout: none;
    user-select: none;
}

.chat-editor-split-handle {
    flex: 0 0 auto;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 4px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f7f7f7;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f7f7f7;
    -webkit-touch-callout: none;
    user-select: none;
}

.resize-hor-cursor {
    cursor: col-resize;
}

.resize-ver-cursor {
    cursor: row-resize;
}

.chat-main {
    position: relative;
    width: 100%;
}

.chat-messages {
    background-color: #f7f7f7;
    padding: 0 20px 20px;
    overflow: auto;
    height: 100%;
    flex: auto;
}

.chat-editor {
    flex: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-editor .mdc-text-field--textarea {
    width: 100%;
}
